.product .heading .heading-text {
  font-weight: 400;
  font-size: 35px;
}

.product .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.product {
  margin: 50px 0;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.filter-item {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  padding: 0 10px;
}

.filter-item-active {
  color: #e78c24;
}
.filter-item:hover {
  color: #e78c24;
  transition: all 0.4s ease;
}

.btn-viewall {
  display: block;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background-color: #e78c24;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin: 0px auto;
  transition: all 0.4s ease;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  margin-bottom: 50px;
}

.btn-viewall:hover {
  background-color: #b06107;
  color: #fff;
}

.product{
margin-bottom: 0px!important;
}
