<header id="header">
  <div class="h-left">
    <img src="assets/img/logo.webp" alt="logo" />
  </div>
  <div class="h-center">
    <ul class="item-head">
      <li class="item">
        <a [routerLink]="['/']">Trang chủ</a>
      </li>
      <li class="item">
        <a href="#">Giới thiệu</a>
      </li>
      <li class="item dropdown-product">
        <a href="#">Sản phẩm </a>
        <fa-icon [icon]="faCaretDown" class="caretDown" />
        <div class="dropdown-container row">
          <div class="dropdown-left col-lg-8">
            <div class="row row-dropdown">
              <ul class="col-lg-4">
                <li class="dropdown-title dropdown-h">
                  <a href="#">Phòng ăn</a>
                </li>
                <li class="dropdown-title">
                  <a href="#">Tô - Chén - Dĩa</a>
                </li>
                <li class="dropdown-title">
                  <a href="#">Thố - Khay</a>
                </li>
                <li class="dropdown-title">
                  <a href="#">Ca - Ly</a>
                </li>
              </ul>
              <ul class="col-lg-4">
                <li class="dropdown-title dropdown-h">
                  <a href="#">Trà - cà phê</a>
                </li>
                <li class="dropdown-title">
                  <a href="#">Bộ Trà</a>
                </li>
                <li class="dropdown-title">
                  <a href="#">Cà phê</a>
                </li>
                <li class="dropdown-title">
                  <a href="#">Phụ kiện trà - cà phê</a>
                </li>
                <li class="dropdown-title">
                  <a href="#">Phụ kiện cà phê</a>
                </li>
              </ul>
              <ul class="col-lg-4">
                <li class="dropdown-title dropdown-h">
                  <a href="#">Nồi sứ dưỡng sinh</a>
                </li>
                <li class="dropdown-title">
                  <a href="#">Luna</a>
                </li>
                <li class="dropdown-title">
                  <a href="#">Vesta</a>
                </li>
                <li class="dropdown-title">
                  <a href="#">Ấm - Chảo</a>
                </li>
              </ul>
            </div>
            <div class="row row-dropdown">
              <ul class="col-lg-4">
                <li class="dropdown-title dropdown-h">
                  <a href="#">Sứ dưỡng sinh</a>
                </li>
                <li class="dropdown-title">
                  <a href="#">Ly sứ dưỡng sinh</a>
                </li>
                <li class="dropdown-title">
                  <a href="#">Hộp sứ dưỡng sinh</a>
                </li>
                <li class="dropdown-title">
                  <a href="#">Đũa sứ</a>
                </li>
              </ul>
              <ul class="col-lg-4">
                <li class="dropdown-title dropdown-h">
                  <a href="#">Phụ kiện bàn ăn</a>
                </li>
                <li class="dropdown-title">
                  <a href="#">Muỗng - Đũa</a>
                </li>
                <li class="dropdown-title">
                  <a href="#">Túi vải canvas</a>
                </li>
                <li class="dropdown-title">
                  <a href="#">Gác đũa sứ</a>
                </li>
                <li class="dropdown-title">
                  <a href="#">Phụ kiện khác</a>
                </li>
              </ul>
              <ul class="col-lg-4">
                <li class="dropdown-title dropdown-h">
                  <a href="#">Sứ nghệ thuật</a>
                </li>
                <li class="dropdown-title">
                  <a href="#">Tượng Linh Vật</a>
                </li>
                <li class="dropdown-title">
                  <a href="#">Tượng trang trí</a>
                </li>
                <li class="dropdown-title">
                  <a href="#">Bình Hoa</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="dropdown-right col-lg-4">
            <img src="assets/img/megamenu_banner.webp" />
          </div>
        </div>
      </li>
      <li class="item">
        <a href="#">Tin tức</a>
      </li>
      <li class="item">
        <a href="#">Cửa Hàng</a>
      </li>
      <li class="item">
        <a href="#">Liên hệ</a>
      </li>
    </ul>
  </div>
  <div class="h-right">
    <a href="#">
      <fa-icon class="icon i-search" size="lg" [icon]="faMagnifyingGlass" />
    </a>
    <a href="#" class="dropdown-user">
      <fa-icon class="icon i-user" size="lg" [icon]="faUser" />
      <div *ngIf="!isLoggedIn" class="dropdown-user-container">
        <a [routerLink]="['/register']" class="dropdown-user-item"> Đăng ký </a>
        <a [routerLink]="['/login']" class="dropdown-user-item"> Đăng nhập </a>
      </div>
      <div *ngIf="isLoggedIn" class="dropdown-user-container">
        <a [routerLink]="['/account']" class="dropdown-user-item">Tài khoản</a>
        <a class="dropdown-user-item" (click)="handleLogout()"> Đăng xuất </a>
      </div>
    </a>
    <a href="#" class="link-heart i-link" title="Sản phẩm yêu thích">
      <fa-icon class="icon i-heart" size="lg" [icon]="faHeart" />
      <span class="count count-heart">1</span>
    </a>

    <a href="#" class="link-shop i-link">
      <fa-icon class="icon i-shop" size="lg" [icon]="faBagShopping" />
      <span class="count count-shop">0</span>
    </a>
  </div>
</header>
