:host {
  --header-height: 60px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: var(--header-height);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  box-sizing: content-box;
  position: fixed;
  z-index: 1000;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.h-left img {
  height: 100%;
}

.h-center .item-head {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-center .item {
  margin: 0 20px;
  padding: 50px 0;
}

.h-center .item-head {
  height: 99%;
}

.h-center {
  height: 100%;
}

.h-center .item a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.h-center .item > a {
  transition: 0.3s all ease;
}

.h-center .item:hover > a {
  color: #be742a;
}

::ng-deep .item .caretDown {
  transition: 0.3s all ease;
}

::ng-deep .item:hover .caretDown {
  transform: rotate(180deg);
  color: #be742a;
  display: inline-block;
}

.h-right .icon {
  margin: 0 10px;
  font-size: 15px;
  color: #000;
  cursor: pointer;
}

.h-right {
  margin-right: 8%;
}

.h-left {
  margin-left: 8%;
  height: 100%;
}

.dropdown-user .icon,
.h-right .icon {
  transition: 0.3s all ease;
}

.h-right .icon:hover,
.dropdown-user:hover .icon {
  color: #e98827;
}

.i-link {
  position: relative;
}

.count {
  color: #fff;
  background-color: #ca6f04;
  width: 16px;
  height: 16px;
  font-size: 11px;
  border-radius: 50%;
  position: absolute;
  top: -9px;
  right: 3px;
  z-index: 20;
  line-height: 14px;
  text-align: center;
}

.dropdown-container {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10%);
  width: 80vw;
  margin: 0 auto;
  height: 400px;
  background-color: #fffffff1;
  border-radius: 3px;
  position: absolute;
  overflow: hidden;
  top: calc(var(--header-height) + 40px);
  left: 10vw;
  z-index: 1000;
  display: flex;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.dropdown-container .dropdown-left ul {
  list-style: none;
  /* margin-left: 5%; */
}

.dropdown-container .dropdown-left a {
  text-decoration: none;
  text-transform: none;
  font-weight: 450;
  font-size: 17px;
}

.dropdown-container .dropdown-right img {
  /* width: 100%; */
  float: right;
  height: 90%;
  object-fit: cover;
  margin-right: 0%;
}

.dropdown-left .row-dropdown {
  margin: 25px 0;
  margin-left: 5%;
}

.dropdown-container .dropdown-left li.dropdown-h {
  margin: 10px 0;
}

.dropdown-left li.dropdown-h > a {
  font-weight: 600;
  color: #ca6f04;
}

.dropdown-container .dropdown-left li.dropdown-title a {
  font-size: 17px;
}

.dropdown-container .dropdown-left a {
  transition: 0.2s all ease;
}

.dropdown-container .dropdown-left a:hover {
  color: #fa9a2b;
}

.dropdown-container,
.h-center .item.dropdown-product .dropdown-container {
  transition: 0.6s all ease;
}

.h-center .item.dropdown-product:hover .dropdown-container,
.dropdown-container:hover {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}

.dropdown-user {
  position: relative;
  padding: auto 0;
}

/* dropdown user */
.dropdown-user-container {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 8px;
  top: 30px;
  display: block;
  background-color: #fff;
  width: 120px;
  border-radius: 3px;
  z-index: 2000;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  align-items: center;
  padding: 5px 0;
  font-size: 14px !important;
}

.dropdown-user-container,
.dropdown-user .dropdown-user-container {
  transition: 0.6s all ease;
}

.dropdown-user:hover .dropdown-user-container,
.dropdown-user-container:hover {
  opacity: 1;
  visibility: visible;
}

/* .dropdown-user-container:hover {
  opacity: 1;
  transition: 0.6s ease;
  visibility: visible;
} */

.dropdown-user-container .dropdown-user-item {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  margin: 3px 10px;
  display: block;
  /* text-align: center; */
}

.dropdown-user-container::before {
  content: "";
  width: 50px;
  height: 12px;
  border-bottom: 10px solid #fff;
  border-left: 30px solid transparent;
  border-right: 2px solid transparent;
  position: absolute;
  top: -11px;
  right: 2px;
}

.dropdown-user-container .dropdown-user-item {
  transition: 0.6s all ease;
}

.dropdown-user-container .dropdown-user-item:hover {
  color: #fa9a2b;
}

.h-right {
  position: relative;
}

.dropdown-cart {
  position: absolute;
  width: 30vw;
  background-color: #fff;
  top: 30px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  z-index: 100;
}

.dropdown-cart .cart-item .cart-info {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.cart-info .cart-name {
  font-size: 15px;
  font-weight: 500;
}

.cart-info .remove {
  color: rgb(200, 10, 10);
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.quantity {
  padding: 0 !important;
  padding-right: 20px !important;
}

.quantity-control {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: 1px solid #000;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 1px;
}

.quantity .text-quantity {
  font-size: 14px;
  font-weight: 400;
  color: rgb(131, 126, 126);
  margin-bottom: 10px;
}

.quantity-control .input-quantity {
  width: 30px;
  /* padding-left: 12px; */
  height: 28px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  outline: none;
  border: 0;
}

.quantity-control .btn-quantity {
  height: 28px;
  width: 28px;
  border-radius: 5px;
  background-color: #fff;
  outline: none;
  border: 0;
}

.cart-info .price {
  font-size: 14px;
  font-weight: 500;
  color: #fa9a2b;
  text-align: right;
}

.dropdown-cart {
  padding: 10px 7px 5px 7px;
}

.cart-item {
  border-bottom: 1px solid rgba(135, 132, 132, 0.204);
}

.dropdown-cart .total {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0 10px;
}

.total .total-price {
  font-size: 15px;
  font-weight: 600;
  color: #fa9a2b;
}

.total .total-text {
  font-size: 15px;
  font-weight: 500;
  color: #222;
}

.btn-payment {
  background-color: #dd8219;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  margin: 10px 5%;
  width: 90%;
  box-sizing: border-box;
}

.btn-payment:hover {
  background-color: #fa9a2b;
}

.link-shop {
  padding-bottom: 20px;
}

.dropdown-cart {
  transform: translateY(50px);
  transition: all 0.5s ease;
}

.link-shop:hover + .dropdown-cart,
.dropdown-cart:hover {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  animation: tranlateY 0.5s ease;
}

@keyframes tranlateY {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

.link-shop:hover .icon {
  color: #fa9a2b;
}

.dropdown-cart:hover ~ .link-shop .icon {
  color: #fa9a2b;
}

.no-product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: gray;
  padding: 10px;
  gap: 5px;
}

.no-product .img-empty {
  width: 80%;
}
