<div class="product-container">
  <a href="" class="linkProduct linkImage">
    <img
      src="https://bizweb.dktcdn.net/thumb/large/100/485/241/products/untitled-2.png?v=1686285750047"
      alt="product"
      class="imageProduct"
    />
    <div class="union">
      <span class="union-text">Giảm 44%</span>
    </div>

    <div class="action">
      <button class="btn-action btn-cart">
        <fa-icon class="icon i-cart" size="sm" [icon]="faCartShopping" />
      </button>
      <button class="btn-action btn-heart">
        <fa-icon class="icon i-heart" size="sm" [icon]="faHeart" />
      </button>
      <button class="btn-action btn-search">
        <fa-icon
          class="icon i-magnifyingGlass"
          size="lg"
          [icon]="faMagnifyingGlass"
        />
      </button>
    </div>
  </a>
  <div class="product-info">
    <a href="" class="linkProduct linkTitle">
      <h3 class="product-name">Bộ khay mứt 31.5cm Thiên Kim</h3>
      <div class="price-box">
        <span class="current-price"
          >1.000.000 <span class="currency">đ</span></span
        ><span class="old-price"
          >2.000.000 <span class="currency">đ</span></span
        >
      </div>
    </a>
  </div>
</div>
