<div id="sidebar-account">
    <div class="heading-text">
        Trang tài khoản
    </div>
    <div class="hello-user">Xin chào, <span class="user">Đặng Hồng Quân</span> !</div>
    <ul class="navigation">
        <li class="nav-item">
            <a class="nav-link">Thông tin tài khoản</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Đơn hàng của bạn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Đổi mật khẩu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Sổ địa chỉ (1)</a>
        </li>
    </ul>
</div>
