<section id="register">
  <app-breadcrumb
    [heading]="'Đăng ký tài khoản'"
    [location]="'Đăng ký tài khoản'"
  ></app-breadcrumb>
  <div id="register-container">
    <div class="btn-navigate">
      <button [routerLink]="['/login']" class="button btn-login">
        Đăng Nhập
      </button>
      <button
        [routerLink]="['/register']"
        class="button btn-regis breadcrumb-active"
      >
        Đăng Ký
      </button>
    </div>
    <div class="form-login">
      <div class="heading">Đăng ký</div>
      <input
        type="text"
        name="fullName"
        id="fullName"
        class="input"
        placeholder="Họ và tên"
        [(ngModel)]="fullName"
        [ngClass]="isFullNameValid"
        (input)="onFullNameChange()"
      />
      <br />
      <input
        type="email"
        name="email"
        id="email"
        class="input"
        placeholder="Email"
        [(ngModel)]="email"
        [ngClass]="isEmailValid"
        (input)="onEmailChange()"
      />
      <br />
      <input
        type="text"
        name="phoneNumber"
        id="phoneNumber"
        class="input"
        placeholder="Số điện thoại"
        [(ngModel)]="phoneNumber"
        [ngClass]="isPhoneNumberValid"
        (input)="onPhoneNumberChange()"
      />
      <br />
      <input
        class="input"
        type="password"
        [(ngModel)]="password"
        name="password"
        id="password"
        placeholder="Mật khẩu"
        [ngClass]="isPwValid"
        (input)="onPasswordChange()"
      />
      <br />
      <button
        (click)="onClickRegister()"
        [disabled]="isDisabledBtn"
        class="button btn-submit"
      >
        Đăng Ký
      </button>
    </div>
    <div class="or">Hoặc đăng nhập bằng</div>
    <div class="login-otp">
      <button class="login-google">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512">
          <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"
          />
        </svg>
        <span> Sign in with google</span>
      </button>
    </div>
  </div>
</section>
