<footer>
  <div class="mid-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="heading">Thông tin</div>
          <div class="item">
            <fa-icon
              [icon]="faLocationDot"
              style="margin: 0 12px 0 2px"
              class="icon faLocationDot"
            />
            <span>Hà Nội</span>
          </div>
          <div class="item">
            <fa-icon [icon]="faPhone" class="icon faPhone" />
            <span>0383240511</span>
          </div>
          <div class="item">
            <fa-icon [icon]="faEnvelope" class="icon faEnvelope" />
            <span>{{ "danghongquan207@gmail.com" }}</span>
          </div>
          <div class="heading">Mạng Xã Hội</div>
          <div class="item item-mxh">
            <img src="assets/icon/zalo.webp" alt="zalo" /><img
              src="assets/icon/facebook.webp"
              alt="facebook"
            /><img src="assets/icon/youtube.webp" alt="youtube" /><img
              src="assets/icon/google.webp"
              alt="google"
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="heading">Chính sách</div>
          <ul>
            <li class="item list_item"><a href="#">Chính sách bảo mật</a></li>
            <li class="item list_item">
              <a href="#">Chính sách vận chuyển</a>
            </li>
            <li class="item list_item"><a href="#">Chính sách đổi trả</a></li>
            <li class="item list_item"><a href="#">Quy định sử dụng</a></li>
          </ul>
        </div>

        <div class="col-md-3">
          <div class="heading">Hướng dẫn</div>
          <ul>
            <li class="item list_item"><a href="#">Hướng dẫn mua hàng</a></li>
            <li class="item list_item"><a href="#">Hướng dẫn thanh toán</a></li>
            <li class="item list_item"><a href="#">Hướng dẫn giao nhận</a></li>
            <li class="item list_item"><a href="#">Điều khoản dịch vụ</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <div class="heading">Đăng kí nhận tin</div>
          <div class="item">
            <span>Đăng ký ngay! Để nhận thật nhiều ưu đãi</span>
          </div>
          <div class="item item-input">
            <input
              type="text"
              class="input"
              placeholder="Nhập địa chỉ email..."
            /><button type="button" class="btn btn-light btn-sm button-send">
              Đăng Ký
            </button>
          </div>
          <div class="heading">Hình thức thanh toán</div>
          <div class="item item-payment">
            <img src="assets/icon/payment_1.webp" alt="" /><img
              src="assets/icon/payment_2.webp"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="line" />
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">Bản quyền thuộc về ... Cung cấp bởi ...</div>
        <div class="col-sm-3">
          <a href="#" class="foot_link">Trang chủ</a
          ><a href="#" class="foot_link">Tin tức</a
          ><a href="#" class="foot_link">Liên hệ</a>
        </div>
      </div>
    </div>
  </div>
</footer>
