<section id="forgot-password">
  <app-breadcrumb
    [heading]="'Quên mật khẩu'"
    [location]="'Quên mật khẩu'"
  ></app-breadcrumb>
  <div class="forgot-container">
    <div>
      <div class="heading">Quên mật khẩu</div>

      <input
        type="email"
        name="email"
        id="email"
        class="input"
        [(ngModel)]="email"
        (input)="onEmailChange()"
        [ngClass]="isEmailValid"
        placeholder="Email"
        [disabled]="isDisableInputEmail"
      />
      <br />
      <div class="error-pw err">
        {{ errMessage }}
      </div>
      <div *ngIf="findedAccount" class="finded-account">
        <span>Tìm thấy: </span><br />Họ tên: {{ name }} <br />Email:
        {{ email }} <br />Số điện thoại: {{ phoneNumber }} <br />
        <a class="notAccount" (click)="onClickNotAccount()">Không phải bạn?</a
        ><br />
        <input
          type="text"
          name="otp"
          id="otp"
          class="input input-otp"
          [(ngModel)]="otp"
          (input)="onOTPChange()"
          [ngClass]="isOTPValid"
          placeholder="Nhập OTP"
        />
        <button
          class="button btn-submit btn-sendOTP"
          (click)="onClickSendOTP()"
        >
          Gửi OTP
        </button>
        <br />
        <div class="error-pw err">
          {{ errOTPMessage }}
        </div>
        <input
          type="password"
          name="newPassword"
          id="newPassword"
          class="input input-new-pass"
          [(ngModel)]="newPass"
          (input)="onNewPWChange()"
          [ngClass]="isNewPWValid"
          placeholder="Nhập mật khẩu mới"
        />
        <input
          type="password"
          name="newPasswordAgain"
          id="newPasswordAgain"
          class="input input-new-pass-again input-new-pass"
          [(ngModel)]="newPassAgain"
          (input)="onNewPwAgainChange()"
          [ngClass]="isPwAgainValid"
          placeholder="Nhập lại mật khẩu mới"
        />
        <div class="error-pw err">
          {{ errPwMessage }}
        </div>
      </div>

      <button
        (click)="onFindAccount()"
        [disabled]="isDisabledBtn"
        *ngIf="!findedAccount"
        class="button btn-submit"
      >
        Tìm tài khoản
      </button>
      <button
        (click)="onClickChangePW()"
        [disabled]="isDisabledBtn"
        *ngIf="findedAccount"
        class="button btn-submit"
        [disabled]="isDisableBtnChange"
      >
        Đổi mật khẩu
      </button>
    </div>
  </div>
</section>
