<div class="swiper-container">
  <div class="swiper-wrapper slider-container">
    <div class="slider-container swiper-slide">
      <img
        src="assets/img/slider_1.webp"
        class="carousel-img-css d-block scale-img"
        alt="..."
      />
      <div class="filter"></div>
      <div class="slider-text d-none d-md-flex">
        <h2 class="moveup title">Bộ sưu tập</h2>
        <div class="moveup content">Gốm sứ cao cấp</div>
        <a href="#" class="moveup btn-slider"> Khám phá ngay </a>
      </div>
    </div>
    <div class="slider-container swiper-slide">
      <img
        src="assets/img/slider_2.webp"
        class="carousel-img-css d-block scale-img"
        alt="..."
      />
      <div class="filter"></div>
      <div class="slider-text d-none d-md-flex">
        <div class="moveup title">Bộ sưu tập</div>
        <div class="moveup content">Ngược dòng lịch sử</div>
        <a href="#" class="moveup btn-slider"> Khám phá ngay </a>
      </div>
    </div>
  </div>
</div>
